@model Speedy_Groceries.Models.LoginInfo


@* Login *@ 

<div class="container">
	<div class=" form-control  w-50  mt-3 mx-auto ">
		<h1 class="text-center ">User Login</h1>
	</div>
	 
	<form class="form-control w-50 pb-4 pt-4 px-4 mx-auto mt-3 mb-5" method="post" asp-controller="Userentry" asp-action="UserLog">
		<!-- Email -->
	<div class="mb-3">
		<label class="form-label">Email</label>
			<input type="email" name="Loginemail" value="@Model?.Loginemail" class="form-control" placeholder="Enter Your Email ID" />
			<span asp-validation-for="Loginemail" class="text-danger"></span>
	</div>
		<!-- Password -->
	<div class="mb-3">
		<label class="form-label">PassWord</label>
			<input type="password" name="Loginpassword" class="form-control" placeholder="Enter Your Password" autocomplete="off" />
			<span asp-validation-for="Loginpassword" class="text-danger"></span>
    </div>
		<!-- Submit Button -->
	<div class="mb-3">
		<button class="btn btn-primary w-50">Login</button>
	</div>
	</form>
</div>




