@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Redirecting...</title>
    <script>
      
        window.top.location.href = '@Url.Action("Logout", "Userentry")';
    </script>
</head>
<body>
    <p>Redirecting to logout...</p>
</body>
</html>
